<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title">Visualizza Verbali per Utente</h5>
                    <p class="card-text">Mostra tutti i verbali associati a un utente specifico.</p>
                    <a class="btn btn-primary" asp-controller="Registro" asp-action="VerbalsForUser">Scopri</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title">Visualizza Punti Decurtati per Utente</h5>
                    <p class="card-text">Visualizza il totale dei punti decurtati per ogni utente.</p>
                    <a class="btn btn-primary" asp-controller="Registro" asp-action="GetTotalPointsLost">Scopri</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title">Violazioni che superano i 10 punti decurtati</h5>
                    <p class="card-text">Elenca le violazioni con una decurtazione maggiore di 10 punti.</p>
                    <a class="btn btn-primary" asp-controller="Registro" asp-action="Greater10Points">Scopri</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title">Violazioni con importo maggiore a 400</h5>
                    <p class="card-text">Mostra le violazioni che hanno un importo della multa superiore a 400.</p>
                    <a class="btn btn-primary" asp-controller="Registro" asp-action="Verbals400">Scopri</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://normanno.com/N0rm4nn0/wp-content/uploads/2022/05/stefano-blasco-nuovo-comandante-polizia-municipale-messina-2-889x500.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.anci.it/wp-content/uploads/WhatsApp-Image-2023-01-19-at-14.48.32-1.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.leggioggi.it/wp-content/uploads/2023/06/c0ncorso_vigili_emilia_romagna.jpg?w=1024" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://umbria7.it/wp-content/uploads/2023/01/polizia-municipale-Citta-di-Castello-1.jpeg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


