<a class="btn btn-primary" asp-controller="Registro" asp-action="VerbalsForUser">Visualizza Verbali per Utente</a>
<a class="btn btn-primary" asp-controller="Registro" asp-action="GetTotalPointsLost">Visualizza Punti Decurtati per Utente</a>
<a class="btn btn-primary" asp-controller="Registro" asp-action="Greater10Points">Violazioni che superano i 10 punti decurtati</a>
<a class="btn btn-primary" asp-controller="Registro" asp-action="Verbals400">Violazioni con importo maggiore a 400</a>