@model IEnumerable<LeGuardie.Models.Violazione>

@{
    ViewData["Title"] = "ListViolation";
}

<h1>ListViolation</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descrizione)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
        </tr>
}
    </tbody>
</table>
